.avatar-container {
    height: 12.5rem;
    width: 12.5rem;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto;
}

.avatar-container > img {
    width: inherit;
}

@media only screen and (max-width: 480px) {
    .avatar-container {
        height: 7rem;
        width: 7rem;
    }
}